.error {

	background-color: $dark-grey;
	padding: 20px;
	color: white;
	p {
		margin-bottom: 10px;
	}
	h3{
		background-color: $blue;
		display: inline-block;
		padding: 5px;
		font-size: 35px;
		@include font;
		margin-bottom: 20px;
		@include rotate(-5deg); 
	}

	.explanation {
		font-size: 12px;
		
		cite {
			font-style: italic	;
		}
	}
	
	pre {
		margin-top: 10px;
		padding: 5px;
		border: solid $light-grey 1px;
		color: $light-grey;
		overflow: hidden;
	}
}
