.hireme {
  .timeline{
    color: white;
    background-color: #191919;
    padding: 10px;
  }
	h1{
      font-family: 'Anton', Helvetica, Verdana, Arial, sans-serif;
      font-size: 24px;
      margin-bottom: 10px;
      display: inline-block;
    }
}   