footer {
  width: 100%;
  margin-top: 10px;
   margin-bottom: 10px;
   @include no-shadow(); 
   text-align: center;
  
  .footer-box{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: auto;
    
    .footer-heading{
       border-bottom: 2px solid #4F4F4F;
    }
    
  }
  
  .footer-box:nth-child(n) {
       border-right: 0px;
  }
  
  .bonnes-adresses{
    ul{
     margin-left: 0px;
     
      li {
        list-style-type: none; 
      }
      
    }
  }
}
